<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="sdkConfig" type="System.Configuration.SingleTagSectionHandler" />
  </configSections>
  <sdkConfig apiUrl="http://services.theknot.com/registry/v1" apiKey="c49043b243ea978bc8667f67b1d7179a" environment="Production" />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>